:root {
    --sc-background-primary: #f5f5f5;
    --sc-background-secondary: #eaeaea;
    --sc-background-highlight: #ffffff;
    --sc-text-primary: var(--color-dark);
    --sc-text-secondary: var(--color-dark-medium);
    --sc-text-highlight: var(--color-dark-light);
    --sc-accent: #7289da;
    --sc-accent-hover: #7289dab8;
}