:root {
    --sc-background-primary: var(--color-darkest);
    --sc-background-secondary: var(--color-dark);
    --sc-background-highlight: var(--color-dark-medium);
    --sc-text-primary: var(--color-gray-medium);
    --sc-text-secondary: var(--color-dark-light);
    --sc-text-highlight: var(--color-gray-light);
    --sc-accent: #7289da;
    --sc-accent-hover: #7289dab8;
}