:root {
    /* Custom variables */
    --sc-accent: #7289da;
    --selected-row-background: #295392;
    --link-color: var(--sc-accent);
    --link-color-hover: #7289dab8;
    --mention-link-background: var(--link-color);
    /* Rocket.Chat built-in variables */
    --button-disabled-background: var(--color-dark);
    --button-disabled-text-color: var(--color-gray);
    --button-secondary-background: var(--color-dark-medium);
    --create-channel-title-color: var(--color-gray-medium);
    --header-background-color: var(--color-darkest);
    --header-title-username-color-darker: var(--color-white);
    --input-border-color: var(--color-dark-medium);
    --input-icon-color: var(--color-gray-medium);
    --message-box-editing-color: #1788e11a;
    --popover-background: var(--color-darkest);
    --popover-title-color: var(--color-white);
    --popover-item-color: var(--color-gray-medium);
    --popover-divider-color: var(--color-dark-medium);
    --popup-list-background: var(--color-dark);
    --popup-list-selected-background: var(--color-dark);
    --popup-list-background-hover: var(--color-darkest);
    --popup-list-name-color: var(--color-gray-medium);
    --rc-color-alert-message-primary-background: #1d74f515;
    --rc-color-alert-message-secondary-background: #7ca52b15;
    --sidebar-background-light: var(--color-dark);
    --sidebar-background-light-hover: var(--color-darkest);
    --tags-background: var(--color-dark);
    --tags-border-color: var(--color-dark-medium);
    --tags-text-color: var(--color-gray-medium);
    --rc-color-error: #757586;
    --rc-color-button-primary: var(--sc-accent) !important;
}

.attachment .attachment-title {
    color: var(--sc-accent) !important;
}

.first-unread .body:before {
    background: var(--sc-accent) !important;
}

.first-unread .body:after {
    color: var(--sc-accent) !important;
    background: var(--color-dark) !important;
}

.background-transparent-darker-before::before {
    background-color: var(--color-gray-medium);
}

.rc-old blockquote {
    font-style: italic !important;
}

.rc-old.main-content {
    overflow: hidden;
    border-radius: 5px 0 0 0;
}

.emoji-picker {
    background-color: var(--color-dark) !important;
}

.rc-message-box__container {
    border: 0px !important;
}

.members-list {
    background-color: var(--color-darkest) !important;
}

.rocket-search-tab {
    background-color: var(--color-darkest) !important;
}

.thread-list {
    background-color: var(--color-darkest) !important;
}

.discussions {
    background-color: var(--color-darkest) !important;
}

.uploaded-files-list {
    background-color: var(--color-darkest) !important;
}

.attachments__name {
    color: var(--color-gray-medium) !important;
}

.channel-settings {
    background-color: var(--color-darkest) !important;
}

.push-notifications {
    background-color: var(--color-darkest) !important;
}

.mentions {
    background-color: var(--color-darkest) !important;
}

.starred-messages {
    background-color: var(--color-darkest) !important;
}

.pinned-messages {
    background-color: var(--color-darkest) !important;
}

.snippeted-messages {
    background-color: var(--color-darkest) !important;
}

.keyboard-shortcut-list {
    background-color: var(--color-darkest) !important;
}

.rc-modal__content-text {
    color: var(--color-gray-medium) !important;
}

.rc-modal__close {
    color: var(--color-gray-medium) !important;
}

.video {
    background-color: var(--color-darkest) !important;
}

.thread-replied {
    visibility: hidden !important;
    display: none !important;
    height: 0px !important;
}

.badge--unread {
    background-color: var(--color-darkest) !important;
}

.unread-burger-alert {
    background-color: var(--color-darkest) !important;
}

.thread-quote {
    visibility: hidden !important;
    display: none !important;
    height: 0px !important;
}

.first-unread {
    padding-top: 16px !important;
    border: 0px !important;
}

.mention-link--user {
    background-color: var(--color-dark-medium) !important;
    color: var(--color-white) !important;
}

.collapsed {
    display: none !important;
}

.rc-button {
    background-color: var(--color-dark-medium) !important;
}

.rc-old .code-colors {
    color: var(--color-gray-medium) !important;
    background: var(--color-darkest) !important;
    border-color: var(--color-dark) !important;
}


/** Font **/

.global-font-family {
    font-family: "Consolas", monospace !important;
}

.rc-header__wrap {
    color: var(--header-title-status-color) !important;
    background-color: var(--color-darkest) !important;
}

.rc-header__name {
    color: var(--color-gray-medium) !important;
}

.rc-user-info__name {
    margin-bottom: 5px !important;
}

.rc-user-info__username {
    margin-bottom: 20px !important;
}

.rc-message-box__container {
    border-color: var(--color-dark-medium) !important;
    background-color: var(--color-dark) !important;
}

.rc-message-box__container.editing {
    background-color: var(--color-dark-medium) !important;
}

.rc-message-box__typing-user {
    color: var(--color-gray-light) !important;
}

.rc-button:not(.rc-button--primary) {
    color: var(--color-gray-medium) !important;
    border-color: var(--color-dark-medium) !important;
}

.rc-popover__content {
    box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.3) !important;
}

.rc-select__arrow {
    margin: 0 5px !important;
}

.rc-form-legend {
    color: var(--color-gray) !important;
}

.rc-input__element,
.rc-member-list__counter,
.rc-message-box__typing__user,
.rc-switch__text,
.rc-switch-double,
.rc-table-title,
.rc-user-info-details__info,
.attachments__name,
.attachments-menu,
.color-primary-font-color,
.sidebar-light .sidebar-item,
.message a i,
.flex-tab a i,
.message a[class^="icon-"],
.flex-tab a[class^="icon-"],
input,
select,
textarea {
    color: var(--color-gray-medium) !important;
}

.rc-form-label,
.message-actions,
.message a i:hover,
.flex-tab a i:hover,
.message a[class^="icon-"]:hover,
.flex-tab a[class^="icon-"]:hover {
    color: var(--color-dark-light) !important;
}

.rc-old .rc-message-box .reply-preview,
.rc-member-list__user.active,
.rc-member-list__user:hover,
.rc-user-info-details,
.rc-table tbody tr:not(.table-no-click):not(.table-no-pointer):hover,
.attachments__item.active,
.attachments__item:hover,
.secondary-background-color,
.emoji-picker .emojis .emoji-list li:hover {
    background: var(--color-dark) !important;
}

.rc-modal,
.rc-modal__footer,
.rc-old .messages-container-wrapper,
.rc-old .messages-container .footer,
.rc-user-info-container,
.content-background-color {
    background: var(--color-darkest) !important;
}

.rc-modal__title {
    color: var(--color-gray-medium) !important;
}

.message.new-day::before,
.flex-tab .message.new-day::before {
    background-color: var(--color-darkest) !important;
    color: var(--color-gray-medium) !important;
}

.rc-user-info__row--separator,
.rc-old .page-settings .section,
.border-component-color,
.message.new-day::after {
    border-color: var(--color-dark-medium) !important;
}

.message a {
    color: var(--link-color) !important;
}

.message a:hover {
    color: var(--link-color-hover) !important;
}

.message .reactions>li,
.message .reactions>li.selected {
    border-color: var(--color-dark-medium) !important;
    background-color: var(--color-dark) !important;
}

.message.editing {
    background-color: var(--color-dark) !important;
}

.messages-box.selectable .selected {
    background: var(--selected-row-background) !important;
}

.mention-link.mention-link-me,
.message .mention-link.mention-link-me {
    background: var(--mention-link-background) !important;
}

.contextual-bar__header {
    background: var(--color-darkest) !important;
    box-shadow: 0 3px 1px 2px rgba(255, 255, 255, 0.1) !important;
}

.role-tag {
    color: var(--sc-accent) !important;
    background-color: var(--color-darkest) !important;
    border-width: 0px !important;
    padding: 0px !important;
    padding-right: 5px !important;
    margin: 0px !important;
}