:root {
    /* Rocket Chat Default Overrides */
    /* Are all of these actually necessary? */
    --link-color: var(--sc-accent);
    --link-color-hover: var(--sc-accent-hover);
    --rc-color-button-primary: var(--sc-accent) !important;
    --sidebar-item-active-background: var(--sc-background-highlight) !important;
    --rc-color-error: var(--sc-text-highlight);
    --tags-background: var(--sc-background-secondary);
    --tags-border-color: var(--sc-background-highlight);
    --tags-text-color: var(--sc-text-primary);
    --popup-list-name-color: var(--sc-text-primary);
    --input-icon-color: var(--sc-text-primary);
    --create-channel-title-color: var(--sc-text-primary);
    --button-disabled-background: var(--sc-background-secondary);
    --button-disabled-text-color: var(--sc-text-secondary);
    --button-secondary-background: var(--sc-background-highlight);
    --header-background-color: var(--sc-background-primary);
    --header-title-username-color-darker: var(--sc-text-highlight);
    --input-border-color: var(--sc-background-highlight);
    --popup-list-background: var(--sc-background-secondary);
    --popup-list-selected-background: var(--sc-background-secondary);
    --popup-list-background-hover: var(--sc-background-primary);
    --popover-item-color: var(--sc-background-primary) !important;
    --popover-divider-color: var(--sc-background-highlight) !important;
    --popover-background: var(--sc-text-highlight) !important;
    --popover-title-color: var(--sc-background-primary) !important;
    --mention-link-background: var(--sc-accent);
    --status-online: var(--sc-online) !important;
    --status-away: var(--sc-alert) !important;
    --status-busy: var(--sc-error) !important;
    --status-invisible-sidebar: var(--sc-background-primary) !important;
    --sidebar-item-unread-color: var(--sc-accent) !important;
    --sidebar-item-text-color: var(--sc-text-primary) !important;
    --rcx-text-colors-info: var(--sc-text-primary) !important;
    --rcx-text-colors-default: var(--sc-text-primary) !important;
    --rcx-input-colors-background-color: var(--sc-background-secondary) !important;
    --rcx-tabs-selected-color: var(--sc-accent) !important;
    --rcx-tabs-selected-border-color: var(--sc-accent) !important;
    --rcx-input-colors-border-color: var(--sc-background-highlight) !important;
    --rcx-tabs-color: var(--sc-background-highlight) !important;
    --input-icon-color: var(--sc-text-primary) !important;
}

::selection {
    background: var(--sc-accent);
}

::-webkit-scrollbar-thumb {
    background-color: var(--sc-background-highlight) !important;
}

.loading-animation {
    background-color:var(--sc-background-primary) !important;
}

/* Font Family */

.global-font-family {
    font-family: "Consolas", monospace !important;
}

.rc-old blockquote {
    font-style: italic !important;
}

.attachment .attachment-title {
    font-size: 10pt !important;
}



/* Background Colours */

.sidebar,
.sidebar-light,
input[disabled],
select[disabled],
textarea[disabled],
.rc-message-box__container,
.message .reactions>li,
.message .reactions>li.selected,
.message.editing,
.emoji-picker {
    background-color: var(--sc-background-secondary) !important;
}

.channel-settings,
.push-notifications,
.mentions,
.starred-messages,
.pinned-messages,
.snippeted-messages,
.keyboard-shortcut-list,
.members-list,
.rocket-search-tab,
.thread-list,
.discussions,
.uploaded-files-list,
.video,
.badge--unread,
.unread-burger-alert,
.mention-link--user,
.rc-header__wrap,
.message.new-day::before,
.flex-tab .message.new-day::before,
.role-tag,
.rc-old .code-colors,
.rc-old .messages-container-wrapper,
.rc-old .messages-container .footer,
.rc-user-info-container,
.content-background-color,
.contextual-bar__header {
    background-color: var(--sc-background-primary) !important;
}

.rc-old .rc-message-box .reply-preview,
.rc-member-list__user.active,
.rc-member-list__user:hover,
.rc-user-info-details,
.rc-table tbody tr:not(.table-no-click):not(.table-no-pointer):hover,
.rc-modal,
.rc-modal__footer,
.attachments__item.active,
.attachments__item:hover,
.secondary-background-color,
.emoji-picker .emojis .emoji-list li:hover,
.first-unread .body:after,
.rcx-toggle-switch__input+.rcx-toggle-switch__fake,
#rocket-chat {
    background-color: var(--sc-background-secondary) !important;
}

.sidebar-item:hover,
.rc-button,
.rc-message-box__container.editing,
.rcx-table__row:hover {
    background-color: var(--sc-background-highlight) !important;
}

.background-info-font-color,
.popup-item.selected,
.first-unread .body:before,
.rcx-toggle-switch__input:checked+.rcx-toggle-switch__fake,
.rcx-radio-button__input:checked+.rcx-radio-button__fake,
.actionLinks li .action-link {
    background-color: var(--sc-accent) !important;
}

.background-transparent-darker-before::before {
    background-color: var(--sc-text-primary) !important;
}


/* Text Colours */

.message .reactions>li.selected,
.attachment .attachment-title,
.sidebar-item__icon,
.sidebar-item:hover,
.first-unread .body:after,
.message.new-day::before,
.flex-tab .message.new-day::before,
.rc-message-box__toolbar-formatting-icon:hover,
.role-tag,
.rc-header__icon--star:hover,
.rc-header__toggle-favorite:hover,
.rc-header__toggle-favorite--checked {
    color: var(--sc-accent) !important;
}

.rc-input__title,
.attachments__name,
.rc-modal__content-text,
.rc-modal__close,
.rc-old .code-colors,
.rc-header__name,
.rc-button:not(.rc-button--primary) .rc-input__element,
.rc-member-list__counter,
.rc-message-box__typing__user,
.rc-switch__text,
.rc-switch-double,
.rc-table-title,
.rc-user-info-details__info,
.rc-modal__title,
.rc-message-box__toolbar-formatting-icon,
.rooms-list__type,
.attachments__name,
.attachments-menu,
.color-primary-font-color,
.sidebar-light .sidebar-item,
.message a i,
.flex-tab a i,
.message a[class^="icon-"],
.flex-tab a[class^="icon-"],
.color-info-font-color,
input,
select,
textarea {
    color: var(--sc-text-primary) !important;
}

.message a {
    color: var(--sc-accent) !important;
}

.message a:hover {
    color: var(--sc-accent-hover) !important;
}

.rc-form-label,
.message-actions,
.message a i:hover,
.flex-tab a i:hover,
.message a[class^="icon-"]:hover,
.flex-tab a[class^="icon-"]:hover {
    color: var(--sc-text-secondary) !important;
}

.mention-link--user,
.rc-message-box__typing-user,
.rc-form-legend {
    color: var(--sc-text-highlight) !important;
}

.rc-popover__list,
.rcx-box--text-style-micro,
.actionLinks li .action-link {
    color: var(--sc-background-primary) !important;
}

/* Borders */

.rc-input__element,
.rc-message-box__container,
.rc-button:not(.rc-button--primary),
.rcx-toggle-switch__input+.rcx-toggle-switch__fake {
    border-color: var(--sc-background-highlight) !important;
}

.rc-old .code-colors,
.message .reactions>li,
.message .reactions>li.selected,
.border-secondary-background-color {
    border-color: var(--sc-background-secondary) !important;
}

.rc-user-info__row--separator,
.rc-old .page-settings .section,
.border-component-color,
.message.new-day::after,
.rcx-toggle-switch__input:checked+.rcx-toggle-switch__fake,
.rcx-radio-button__input:checked+.rcx-radio-button__fake,
.rcx-radio-button__input+.rcx-radio-button__fake,
.message .reactions>li:hover,
.filter-item.active {
    border-color: var(--sc-accent) !important;
}

.rcx-table__head:after {
    border-bottom: .125 rem solid var(--sc-accent) !important;
}

.rc-header--room {
    box-shadow: none !important;
}

.rc-message-box__textarea {
    caret-color: var(--sc-accent) !important;
}