:root {
    --sc-background-primary: #FFF;
    --sc-background-secondary: #ECEFF4;
    --sc-background-highlight: #E5E9F0;
    --sc-text-primary: #434C5E;
    --sc-text-secondary: #3B4252;
    --sc-text-highlight: #2E3440;
    --sc-accent: #5E81AC;
    --sc-accent-hover: #81A1C1;
    --sc-error: #BF616A;
    --sc-error-hover: #BF616AB8;
    --sc-alert: #EBCB8B;
    --sc-online: #A3BE8C;
}