:root {
    --sc-background-primary: #2E3440;
    --sc-background-secondary: #3B4252;
    --sc-background-highlight: #434C5E;
    --sc-background-shadow: #282C32;
    --sc-text-primary: #D8DEE9;
    --sc-text-secondary: #E5E9F0;
    --sc-text-highlight: #ECEFF4;
    --sc-accent: #88C0D0;
    --sc-accent-hover: #81A1C1;
    --sc-error: #BF616A;
    --sc-error-hover: #BF616AB8;
    --sc-alert: #EBCB8B;
    --sc-online: #A3BE8C;
}